.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-form > .form-group {
    width: 100%;
}

.contact-form-container {
    width: 50%;
    min-width: 580px;
}

.contact-section-container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.contact-text-container {
    width: 50%;
    padding: 2%;
}

.contact-form > .name-form-group, .contact-form > .email-form-group {
    width: 48%;
}

@media screen and (max-width: 1000px) {
    .contact-section-container {
        flex-wrap: wrap;
        height: auto;
    }

    .contact-form-container, .contact-text-container {
        width: 100%;
        padding: 0;
        min-width: auto;
    }

    .contact-text-container {
        text-align: center;
    }
}

@media screen and (max-width: 580px) {
    .contact-form > .name-form-group, .contact-form > .email-form-group {
        width: 100%;
    }
}