.content {
    /* maintain width of 1450px until screen is smaller, then 95% of vw */
    max-width: 1450px;
    width: 95%;
    margin: 0 auto;
}

.home-img {
    margin-top: 50px;
    height: 80vh;
    /* background-image: url(''); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .home-img {
        height: 50vh;
    }
}